In [ ]:
number=10
userInput=int(input("Enter the number"))
if number==userInput:
    print("Correct guess")
elif number>userInput:
    print("Entered number is smaller than the number")
else:
    print("Entered number is greater than the number")

In [ ]:
int()->int class's constructor

In [5]:
number=1
while number!=31 :
    if number%5==0:
        print("Kashmiri")
    else :
        print(number, end=" ")
    number=number+1

1 2 3 4 Kashmiri
6 7 8 9 Kashmiri
11 12 13 14 Kashmiri
16 17 18 19 Kashmiri
21 22 23 24 Kashmiri
26 27 28 29 Kashmiri

In [16]:
number=1
while number!=31 :
    if number%5==0:
        print("Kashmiri", end=" ")
    elif number%3==0:
        print("LCO", end=" ")
    else :
        print(number, end=" ")
    number=number+1

1 2 LCO 4 Kashmiri LCO 7 8 LCO Kashmiri 11 LCO 13 14 Kashmiri 16 17 LCO 19 Kashmiri LCO 22 23 LCO Kashmiri 26 LCO 28 29 Kashmiri

In [17]:
number=1
while number!=31 :
    if number%5==0 and number%3==0:##pipe line operator
        print("India", end=" ")
    else :
        print(number, end=" ")
    number=number+1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 India 16 17 18 19 20 21 22 23 24 25 26 27 28 29 India

In [ ]:
number=1
i=1
while number!=31 :
        if number%5==0 and number%3==0:##pipe line operator
            print("India", end=" ")
        else :
            print(number, end=" ")
        number=number+1

1 2 3 4

In [1]:
number=1
i=1
while number!=31 :
        if number==5:
            number=number+1
            continue
        elif number%5==0 and number%3==0:##pipe line operator
            print("India", end=" ")
        else :
            print(number, end=" ")
        number=number+1

1 2 3 4 6 7 8 9 10 11 12 13 14 India 16 17 18 19 20 21 22 23 24 25 26 27 28 29 India

In [2]:
num=(1,2,3)
for var in num:
    print(var)

1
2
3

In [4]:
for var in "LCO!":
    print(var)

L
C
O
!

In [6]:
lists=["a",1]
for var in lists:
    print(var)

a
1

In [17]:
number=int(input("Enter the number : "))
for i in range(1,11):
    print(str(number)+"*"+str(i)+"= ",end="")
    coll=number*i
    print(coll)

Enter the number : 12
12*1= 12
12*2= 24
12*3= 36
12*4= 48
12*5= 60
12*6= 72
12*7= 84
12*8= 96
12*9= 108
12*10= 120

In [62]:
for i in range(0,5):
    for j in range(0,i+1):
        print("*",end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

In [60]:
for i in range(1,6):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *

In [63]:
for index,value in enumerate(["a","b","c"]): ##iterating a enum gives the tuple with the positional index
    print(str(index)+" : "+str(value))

0 : a
1 : b
2 : c

In [65]:
for value in enumerate([1,"b"]):
    print(value)

(0, 1)
(1, 'b')